@(customer:Customer, history:List[ShoppingCart])
@main("My Account", customer){
 @flash.get("success")

           <div class="myaccountdisplaybuttons" id="myaccountdisplaybuttons">
                     @helper.form(action = routes.CustomerController.editAccount(customer.cust_id)){

                      <div class="editaccountbutton" id="editaccountbutton"><input type="image" src="@routes.Assets.at("images/icon/editaccount.png")" width="160" height="35" alt=""/>
                      </div>}
                      
                     @helper.form(action = routes.CustomerController.wishList()){
                      <div class="mywishlistbutton" id="mywishlistbutton"><input type="image" src="@routes.Assets.at("images/icon/mywishlist.png")" width="160" height="35" alt=""/>
                      </div>}
                 
                      
                    </div>
      
     
        @for(i <- 0 until history.length){
        @if(history(i).transaction_status != "Open"){
                <div id="orderfiller"></div>
<!--looping starts here-->
              <div id="myaccountContainer" class="myaccountPage">
                <div id="myaccountview">
                  
                  <div class="myaccountleft" id="myaccountleft">
                      
                              <div class="myaccountinfo" id="myaccountinfoleft">
                              <div id="myaccountid">
                              <h2>Order ID: @history(i).shoppingcart_id@history(i).cust_id</h2>
                             </div>
   
                              </div>
            
                      </div>
                 
                      <div class="myaccountright" id="myaccountright">
                      
                              <div class="myaccountinfo" id="myaccountinforight">
                              <div id="myaccountaddress">
                              <h4>Shipping Address</h4>
                              <p>@history(i).billing_address1</p>
                              <p>@history(i).billing_address2</p>
                              <p>@history(i).billing_city</p>
                              <p>@history(i).billing_country</p>
                              </div>
                              
                              <div id="myaccountemail">
                              <h4>Order Information</h4>
                              <p>Date of Order: @{history(i).date_made.format("dd-MM-yyyy")}</p>
                              <p>Total Price: &euro;@("%.2f".format(history(i).subtotal))</p>
                               @if( history(i).date_shipped == null){
                         @if(history(i).transaction_status =="Cancelled"){
                         <h4 style="color:#FF2C25"> Order Cancelled</h4>}else{
                          <h4 style="color:#0080E9">Not Yet Shipped</h4>}
                          }else{<h4 style="color:#67BF1B">Shipped: @{history(i).date_shipped.format("dd-MM-yyyy")}</h4>}
                              </div>
                                
                              <div id="myaccountbuttons">
                           
                                </div>
   
                              </div>
            
                      </div>
              
                   </div>
                
              </div>
<!--looping ends here-->

         
        
        }
        }
        

					          
         
}