
@(customer:Customer,prodList: List[Product])
@main("Home", customer){

<div id = mainBanner>   
</div>

<div id = saleBanner>
    <a href="@routes.ProductsController.saleView()"><img src="@routes.Assets.at("images/main/mockSale5.png")"/></a>
</div>

<div id="homedisplayContainer" class="homedisplayContainer">
           	  
              <div class="newreleases" id="newreleases">
              <div id="newreleaseheader">Games Direct Top Ten</div>
              </div>
              <!--Loop starts here-->
              @for(i <- 0 until prodList.length){
                        <div class="homeproduct" id="homeproduct">
                              @if(prodList(i).image != null){
                              <div class="homeproductimage" id="homeproductimage">
                                  <a href="@routes.ProductsController.displayProduct(prodList{i}.prod_id)"><img src="@routes.ProductsController.image(prodList{i}.prod_id)" width="174" height="220" alt=""/></a>
                              </div>
                              }else{
                              <div class="homeproductimage" id="homeproductimage">
                                  <a href="@routes.ProductsController.displayProduct(prodList{i}.prod_id)"><img src="@routes.Assets.at("images/icon/no_image.jpg")" width="174" height="220" alt=""/></a>
                              </div>
                              }
                        </div>
              }
               <!--Loop ends here-->
  
          </div>
    }