@import helper._
@(customerForm:Form[Customer], customer: Customer)
@main("Register", customer){

<div id="gridContainer">
    <h1>Registration </h1>
     

    @helper.form(action = routes.CustomerController.custSubmit()){
  @flash.get("success")
    <fieldset>
        <p>
            @helper.inputText(customerForm("cust_fname"),'_label -> "First Name")
        </p>
        <p>
            @helper.inputText(customerForm("cust_lname"),'_label -> "Last Name")
        </p>
        <p>
            @inputDate(customerForm("date_of_birth"), '_label -> "Date of birth",  'type -> "date")
        </p>
        <p>
            @helper.inputText(customerForm("email"),'_label -> "Email Address", 'type -> "email")
        </p>
        <p>
            @helper.inputText(customerForm("address1"),'_label -> "Address Line 1")
        </p>
        <p>
            @helper.inputText(customerForm("address2"),'_label -> "Address Line 2")
        </p>
        <p>
            @helper.inputText(customerForm("city"),'_label -> "City")
        </p>
        <p>
            @helper.inputText(customerForm("country"),'_label -> "Country")
        </p>
        <p>
            @helper.inputText(customerForm("phoneNum"),'_label -> "Phone Number")
        </p>
        <p>
            @helper.inputPassword(customerForm("password"),'_label -> "Password")
        </p>
    </fieldset>
    <p>
        <input type="submit" class="btn btn-primary" value="Submit">
    </p>
</div>
    
  


    }  
    }