@(productForm:Form[Product])
@import helper._


@dashboardMain("Edit Product"){

<div id="editProdDiv">
<div id="gridContainer">
    <h1>Edit Product </h1>
    <p style="color:red">  @flash.get("success")</p>
   

    @helper.form(action = routes.ManagementController.confirmProdEdit(), 'enctype -> "multipart/form-data"){
    <fieldset>
       
        <p>
            @helper.inputText(productForm("prod_id"),'_label -> "ID",'readonly -> "readonly"  )
        </p>
        <p>
            @helper.inputText(productForm("review_score"),'_label -> "User Rating",'readonly -> "readonly"  )
        </p>  
        
        <p>
            @helper.inputText(productForm("number_of_reviews"),'_label -> "Number of Reviews" ,'readonly -> "readonly" )
        </p>
        <p>
            @helper.inputText(productForm("prod_name"),'_label -> "Name" )
        </p>
        <p>
            @helper.textarea(productForm("prod_desc"),  args = 'rows -> 5, 'cols -> 60, '_label -> "Description")
        </p>
        <p>
            @select(productForm("genre"),
   options(Seq("Action","Sports","Role Playing","Driving","First Person Shooter","Adventure","Simulation","Puzzle","Multiplayer","Strategy")),'_label -> "Genre", '_default -> "-- Select Genre --"
)
        </p>
        <p>
            @select(productForm("age_rating"),
   options(Seq("3","12","16","18")),'_label -> "Age Rating", '_default -> "-- Select Age --"
)
        </p>
        <p>
            @helper.inputText(productForm("price"),'_label -> "Price")
        </p>
        <p>
            @select(productForm("platform"),
   options(Seq("XBOXONE","XBOX360","PS4","PS3","WIIU","3DS")),'_label -> "Platform", '_default -> "-- Select Platform --"
)
        </p>
        <p>
            @helper.inputText(productForm("stock_level"),'_label -> "Stock In")
        </p>
        <p>
            @helper.inputText(productForm("supplier"),'_label -> "Supplier")
        </p>
        <p>
            @helper.inputFile(productForm("image"),'_label -> "Image")
               @if(!productForm("image").valueOr("").isEmpty()){
        <div>
               <img style="position:relative; left:10px;height:80px"src="/image/@productForm("prod_id").value">  
            </div>
              
        }
       
        
    </fieldset>
    <p>
        <input type="submit" class="btn btn-primary" value="Submit">
    </p>
</div>
</div>
    
  
}

}
