@dashboardMain("Reports"){
                 

        
           
              
           <div id="Portal">
             <div id="miniportalposition">
                        <div class="portalboxone"><a href="@routes.ManagementController.customerreports()" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image5','','@routes.Assets.at("images/portal2/locationhover.png")',1)"><img src="@routes.Assets.at("images/portal2/location.png")" alt="" width="240" height="280" id="Image5"></a></div>
                      
                        <div class="portalboxtwo"><a href="@routes.ManagementController.genrereports()" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image6','','@routes.Assets.at("images/portal2/genrehover.png")',1)"><img src="@routes.Assets.at("images/portal2/genre.png")" alt="" width="240" height="280" id="Image6"></a></div>
                        
                        <div class="portalboxthree"><a href="@routes.ManagementController.profitreports()" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image7','','@routes.Assets.at("images/portal2/productsaleshover.png")',1)"><img src="@routes.Assets.at("images/portal2/productsales.png")" alt="" width="240" height="280" id="Image7"></a></div>
                        
                        <div class="portalboxfour"><a href="@routes.ManagementController.logout()" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image10','','@routes.Assets.at("images/portal2/logoutportalhover.png")',1)"><img src="@routes.Assets.at("images/portal2/logoutportal.png")" alt="" width="240" height="280" id="Image10"></a></div>
                      <!--  
                        <div class="portalboxfour"><a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image8','','images/portal2/contactshover.png',1)"><img src="images/portal2/contacts.png" alt="" width="240" height="280" id="Image8"></a></div>
                        
                        <div class="portalboxfive"><a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image9','','images/portal2/editaccounthover copy.png',1)"><img src="images/portal2/editaccount.png" alt="" width="240" height="280" id="Image9"></a></div>
                        
                        <div class="portalboxsix"><a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image10','','images/portal2/logoutportalhover.png',1)"><img src="images/portal2/logoutportal.png" alt="" width="240" height="280" id="Image10"></a></div>
                        
                        <div class="portalboxseven"><a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image11','','images/portal2/createsalehover.png',1)"><img src="images/portal2/createsale.png" alt="" width="240" height="280" id="Image11"></a></div>
                        
                        <div class="portalboxeight"><a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image12','','images/portal2/addprodhover.png',1)"><img src="images/portal2/addprod.png" alt="" width="240" height="280" id="Image12"></a></div>-->
                             
                    </div>
             
            
</div>
            
               }

