@main("Contact Us"){
<div id="mainContainer">
       
       		<div id="gridContainer">
       		  <h1>Contact Us</h1>
       		  <p>
           	    <label for="select">What is this query in relation to:</label>
            	    <select name="select" id="select">
            	      <option>Registration</option>
            	      <option>Returns</option>
            	      <option>Game Purchace</option>
          	      </select>
       		  </p>
       		  <p>
           	    <textarea name="textarea" id="textarea" cols="34" rows="5"></textarea>
       	      </p>
            	  <p>
            	    <label for="email">Email:</label>
                    <input type="email" name="email" id="email">
            	    <input type="submit" name="submit" id="submit" value="Submit">
            	  </p>
       		</div>
       
       </div>
</body>
}