@(customers:List[Customer])
@main("Customer List"){
<table class ="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Second name</th>                       
            <th>Date of Birth</th>            
            <th>Email</th>            
            <th>Address Line 1</th>            
            <th>Address Line 2</th>            
            <th>City</th>            
            <th>Phone Number</th> 
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        @for(customer <- customers){
        <tr>    
            <td>@customer.cust_fname</td>
            <td>@customer.cust_lname</td>
            <td>@customer.dateOfBirth</td>
            <td>@customer.email</td>
            <td>@customer.address1</td>
            <td>@customer.address2</td>
            <td>@customer.city</td>
            <td>@customer.phoneNum</td>
            <td>@customer.password</td>
        </tr>
        }
    </tbody>
        
</table>

<a href = "@routes.Application.register"> Back To registration  </a>
}