@main("Register"){

  
            
<div id = mainBanner>
    <h1>MAIN BANNER</h1>
    <!-- <hr size="1"/>-->
</div>

<div id = saleBanner>
    <h1>SALES EVENT BANNER</h1>
    <!-- <hr size="1"/>-->
</div>


<div id="gridContainer" class="homegridtable">
    <h1>GRID CONTAINER </h1>
    <div align="center">
        <table width="325" border="0">
            <tbody>
                <tr>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">TOP SELLERS</th>
                    <th scope="col">&nbsp;</th>
                </tr>
                <tr>
                    <td><img src="public/Images/ProductImages/2med.jpg" width="150" height="214" alt=""/></td>
                    <td><img src="public/Images/ProductImages/3max.jpg" width="150" height="214" alt=""/></td>
                    <td><img src="public/Images/ProductImages/supermario.jpg" width="150" height="214" alt=""/></td>
                </tr>
                <tr>
                    <td><div align="center">
                            <input type="button" name="button3" id="button3" value="Add to Cart">
                            <input type="button" name="button5" id="button5" value="Wish List">
                        </div></td>
                    <td><div align="center">
                            <input type="button" name="button2" id="button2" value="Add to Cart">
                            <input type="button" name="button2" id="button6" value="Wish List">
                        </div></td>
                    <td><div align="center">
                            <input type="button" name="button4" id="button4" value="Add to Cart">
                            <input type="button" name="button4" id="button7" value="Wish List">
                        </div></td>
                </tr>
            </tbody>
        </table>
    </div>


}
