@(title: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" type="text/css" href='@routes.Assets.at("Stylesheets/main.css")'>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    </head>
        <body>
            <div id = navBar>
                <h1> NAVIGATION BAR </h1>
                <a href = "@routes.Application.register" > Register </a>
				<a href="@routes.Application.login">Login</a>
                <a href = "@routes.Application.cart" > Cart </a>
				<a href="@routes.Application.contact"> Contact Us</a > 
                       
				
            </div>
            <div id = headBar>
                <h1> HEADER AND SEARCH BAR </h1>
                <p>
                    <input type = "search" >
                    <input type = "button" name = "button" id = "button" value = "Search" >
                </p>
                <p><a href = "advancedsearch.html"> Advanced Search </a></p >
                 <p><a href = "@routes.Application.custList"> ###Cust List (Remove)### </a></p >
            </div>
            <div id = platformBar>
                <h1> PLATFORM BAR </h1>
            </div>
            <div id = "mainBody" >
                <div id = "mainContainer" >
                    @content                        
                </div>
            </div>                
            <div id = "mainFooter" >
                <h1 > FOOTER </h1>
            </div>
        </body>

</html>
